In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

ImportError: cannot import name 'NUMPY_MKL'

In [2]:
train_url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/train.csv"
train = pd.read_csv(train_url)

test_url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/test.csv"
test = pd.read_csv(test_url)

- describe함수는 오직 수치 데이터만 요약해서 보여준다.
- shape 변수는 해당 데이터셋의 행과 열이 몇개인지 알려준다.

In [3]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [4]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [5]:
# Print the first 5 rows of the dataframe.
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
test.head().T

,0,1,2,3,4
PassengerId,892,893,894,895,896
Pclass,3,3,2,3,3
Name,"Kelly, Mr. James","Wilkes, Mrs. James (Ellen Needs)","Myles, Mr. Thomas Francis","Wirz, Mr. Albert","Hirvonen, Mrs. Alexander (Helga E Lindqvist)"
Sex,male,female,male,male,female
Age,34.5,47,62,27,22
SibSp,0,1,0,0,1
Parch,0,0,0,0,1
Ticket,330911,363272,240276,315154,3101298
Fare,7.8292,7,9.6875,8.6625,12.2875
Cabin,NaN,NaN,NaN,NaN,NaN
Embarked,Q,S,Q,S,S

In [6]:
train.shape

(891, 12)

In [22]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
Child          714 non-null float64
dtypes: float64(3), int64(5), object(5)
memory usage: 90.6+ KB

## null 값 

>PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
Child          177

- null의 개수가 177개
- Cabin 687

In [24]:
nulls = train.columns[train.isnull().any()]
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
Child          177
dtype: int64

In [7]:
test.shape

(418, 11)

- value_counts 함수를 이용. 
- 그냥 함수를 호출하게 되면 절대값으로 결과를 돌려주고, normalize 옵션을 True 로 설정하면 퍼센트(%)로 결과를 리턴한다.

In [8]:
train["Survived"].value_counts()

0    549
1    342
Name: Survived, dtype: int64

- 0 = died
- 1 = lived

In [9]:
# %로 리턴된 결과를 확인한다. 
# 죽은 사람 = 61.6% , 생존 자 = 38.38%
train["Survived"].value_counts(normalize = True)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [10]:
train["Sex"].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [11]:
train["Sex"] == 'male'

0       True
1      False
2      False
3      False
4       True
5       True
6       True
7       True
8      False
9      False
10     False
11     False
12      True
13      True
14     False
15     False
16      True
17      True
18     False
19     False
20      True
21      True
22     False
23      True
24     False
25     False
26      True
27      True
28     False
29      True
       ...
861     True
862    False
863    False
864     True
865    False
866    False
867     True
868     True
869     True
870     True
871    False
872     True
873     True
874    False
875    False
876     True
877     True
878     True
879    False
880    False
881     True
882    False
883     True
884     True
885    False
886     True
887    False
888    False
889     True
890     True
Name: Sex, dtype: bool

In [12]:
train['Survived'][train['Sex'] == 'male'].value_counts()

0    468
1    109
Name: Survived, dtype: int64

### 남성의 생존률 (퍼센트 표기)

In [13]:
train['Survived'][train['Sex'] == 'male'].value_counts(normalize= True)

0    0.811092
1    0.188908
Name: Survived, dtype: float64

### 여성의 생존율 
- 여성의 74.2%는 사망 , 여성의 0.25%는 생존했다는 의미를 가진다

In [14]:
train['Survived'][train['Sex'] == 'female'].value_counts(normalize= True)

1    0.742038
0    0.257962
Name: Survived, dtype: float64

In [15]:
train['Child'] = float('NaN')

In [16]:
train['Child'].value_counts()

Series([], Name: Child, dtype: int64)

In [17]:
train["Child"][train["Age"] < 18] = 1

c:\users\2e313jcp\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [18]:
train["Child"][train["Age"] >= 18] = 0

c:\users\2e313jcp\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
print(train["Survived"][train["Child"] == 1].value_counts(normalize = True))

1    0.539823
0    0.460177
Name: Survived, dtype: float64

In [20]:
print(train["Survived"][train["Child"] == 0].value_counts(normalize = True))

0    0.618968
1    0.381032
Name: Survived, dtype: float64

In [33]:
train.hist(bins=10,figsize=(9,7),grid=False)

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x000001EECDEDCD68>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000001EECDF2E240>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000001EECDF6DA58>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000001EECDFB8E48>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000001EECDFFD860>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000001EECE04AC50>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x000001EECE0612E8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000001EECE0DBBA8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x000001EECF0F7EB8>]], dtype=object)